:root {
    // fonts
    --accent-font: 'Oswald', sans-serif;

    // colors
    --header-cl: #000000;
    --white-cl: #ffffff;
    --border-cl: rgba(0, 0, 0, 0.20);

    // text-colors
    --accent-cl-txt: #2F2F2F;
    --sacondary-cl-txt: #0F0F0F;
    // button color
    --btn-cl: #157FE1;

    // anim
    --modal-anim: 1000ms linear;
    --hover-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}