:root {
    // fonts
    --accent-font: 'Oswald', sans-serif;

    // colors
    --header-cl: #000000;
    --white-cl: #ffffff;

    // text-colors
    --accent-cl-txt: #2F2F2F;
    // button color
    --btn-cl: #157FE1;
}