.btn {
    color: var(--white-cl);
    background-color: var(--btn-cl);
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: var(--hover-anim);

    &:hover {
       background-color:  var(--btn-cl-hover);
    }
    &:active {
       background-color:  var(--btn-cl-active);
    }

    @include bpoint(desktop) {
        font-size: 22px;
    }
}

.link {
    color: var(--btn-cl);
}

.title {
    color: var(--header-cl);
    font-size: 32px;
    letter-spacing: 2.16px;

    @include bpoint(tablet) {
        font-size: 57px;
    }

    @include bpoint(desktop) {
        font-size: 72px;
    }
}

.super-btn {
    position: relative;

    color: var(--white-cl);
    border: 2px solid var(--btn-cl);
    background: var(--btn-cl);
    transition: all .3s;
    cursor: pointer;
    
    &:hover {
        filter: contrast(1.1);
    }
    
    &:active {
        filter: contrast(0.9);
    }
    
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border: 2px solid var(--btn-cl);
        transition: all .5s;
        animation: clippath 3s infinite linear;
    }
    
    &::after {
        animation: clippath 3s infinite -1.5s linear;
    }
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 98% 0);
    }
    
    25% {
        clip-path: inset(0 98% 0 0);
    }
    50% {
        clip-path: inset(98% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 98%);
    }
}

.bg::before {
    background: var(--btn-cl);
}