.btn {
    color: var(--white-cl);
    background-color: var(--btn-cl);
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    @include bpoint(desktop) {
    font-size: 22px;
    }
}

.link {
    color: var(--btn-cl);
}