@font-face {
    font-family: 'Bold';
    src: local('Gilroy'),
        url('../fonts/Gilroy-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Medium';
    src: local('Gilroy'),
        url('../fonts/Gilroy-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Regular';
    src: local('Gilroy'),
        url('../fonts/Gilroy-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Light';
    src: local('Gilroy'),
        url('../fonts/Gilroy-Light.ttf');
    font-weight: 300;
}

body {
    font-family: var(--accent-font);
    // font-family: 'Gilroy', sans-serif;
    color: var(--accent-cl-txt);
    font-weight: 300;
    font-size: 24px;
    // line-height: 35px;
    letter-spacing: 0.72px;
}

html {
    scroll-behavior: smooth;
}