.advantages {
    background-color: var(--sacondary-cl-txt);
    color: var(--white-cl);

    &_title {
        color: var(--white-cl);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        max-width: 1072px;
    }

    &_text {
        text-align: center;
        font-size: 16px;
        letter-spacing: 1.08px;
        margin-bottom: 30px;
        font-weight: "Medium";
        padding-bottom: 20px;

        @include bpoint(tablet) {
            font-size: 20px;
        }

        @include bpoint(desktop) {
            font-size: 30px;
        }
    }
}

.accordeon {

    .accordeon__title {
        font-size: 22px;
        font-style: normal;
        font-weight: 'Bold';
        line-height: normal;
        letter-spacing: 1.08px;
        margin: 0;
        padding: 0 10px;
        cursor: pointer;
        margin-bottom: 16px;
        padding-bottom: 26px;
        margin-top: 32px;

        @include bpoint(tablet) {
            margin-bottom: 16px;
            padding-bottom: 25px;
            margin-top: 40px;
            font-size: 28px;

        }

        @include bpoint(desktop) {
            margin-bottom: 20px;
            padding-bottom: 30px;
            margin-top: 50px;
            font-size: 36px;

        }
    }



    .accordeon__descr {
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s linear;
        opacity: 0;

    }

    .accordeon__descr--visible {
        opacity: 1;
    }

    &_item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }

    &_text {
        font-size: 18px;
        padding-bottom: 50px;

        @include bpoint(tablet) {
            font-size: 24px;
        }

    }

}