.advantages {
    background-color: var(--sacondary-cl-txt);
    color: var(--white-cl);

    &_title {
        color: var(--white-cl);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        max-width: 1072px;



    }

    &_text {
        text-align: center;
        font-size: 19px;
        letter-spacing: 1.08px;
        margin-bottom: 30px;
        font-weight: "Medium";

        @include bpoint(tablet) {
            font-size: 24px;
        }

        @include bpoint(desktop) {
            font-size: 30px;
        }
    }

    &_item {

        &:not(:last-child) {
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);

        }
    }

}

.accordeon {
    // margin-bottom: 20px;
    font-family: 'Medium';
    font-size: 20px;

    &.is-active {
        .accordeon__content {
            padding: 0 22px;
            height: auto;


            padding: 0 22px;

        }

        .accordeon__header {
            .accordeon__toggle {
                transform: rotate(45deg);

            }

            &:hover {
                .accordeon__toggle {
                    transform: rotate(60deg);
                }
            }
        }
    }

    & p {
        font-size: 14px;

        @include bpoint(tablet) {
            font-size: 18px;
        }

        @include bpoint(desktop) {
            font-size: 24px;
        }
    }

}

.accordeon__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-top: 50px;
    padding-bottom: 20px;


    &:hover {
        .accordeon__title {
            transform: translateX(4px);
        }

        .accordeon__toggle {
            transform: rotate(14deg);
        }
    }
}

.accordeon__title {
    transition: .3s ease transform;
    font-size: 20px;
    letter-spacing: 1.08px;

    @include bpoint(tablet) {
        font-size: 28px;
    }

    @include bpoint(desktop) {
        font-size: 36px;
    }

}

.accordeon__toggle {
    display: flex;
    align-items: center;
    transition: .3s ease transform;
    cursor: pointer;

    :nth-child(1) {
        height: 2px;
        background-color: white;


        width: 33px;

    }

    :nth-child(2) {
        width: 2px;

        background-color: white;

        transform: translate(-17px, 0);
        height: 33px;
    }
}

.accordeon__content {
    max-height: 0;
    overflow: hidden;
    transition: .2s ease all;
}







// .advantages {
//     background-color: var(--sacondary-cl-txt);
//     color: var(--white-cl);

//     &_title {
//         color: var(--white-cl);
//         text-align: center;
//         margin-left: auto;
//         margin-right: auto;
//         margin-bottom: 20px;
//         max-width: 1072px;

//     }

//     &_text {
//         text-align: center;
//         font-size: 19px;
//         letter-spacing: 1.08px;
//         margin-bottom: 30px;

//         @include bpoint(tablet) {
//             font-size: 24px;
//         }

//         @include bpoint(desktop) {
//             font-size: 30px;
//         }
//     }

//     &_list {
//         width: 100%;

//         & li:not(:last-child) {
//             border-bottom: 1px solid var(--white-cl);
//             // padding-bottom: 50px;
//         }

//         & li {
//             margin-top: 50px;
//             margin-bottom: 50px;
//             font-size: 36px;
//             letter-spacing: 1.08px;
//             display: flex;
//             justify-content: space-between;
//         }
//     }