.advantages {
    background-color: var(--sacondary-cl-txt);
    color: var(--white-cl);

    &_title {
        color: var(--white-cl);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        max-width: 1072px;
        
    }

    &_text {
        text-align: center;
        font-size: 19px;
        letter-spacing: 1.08px;
        margin-bottom: 30px;

        @include bpoint(tablet) {
            font-size: 24px;
        }

        @include bpoint(desktop) {
            font-size: 30px;
        }
    }

    &_list {
        width: 100%;

        & li:not(:last-child) {
            border-bottom: 1px solid var(--white-cl);
        padding-bottom: 30px;
        }
    }

    
}