.blog {

    &_title {
        color: var(--header-cl);
        font-weight: 500;
        margin-top: 36px;
        margin-bottom: 29px;

        @include bpoint(tablet) {
            margin-top: 45px;
            margin-bottom: 36px;
        }

        @include bpoint(desktop) {
            margin-top: 62px;
            margin-bottom: 50px;
        }
    }

    &_text {
        text-align: justify;
        margin-top: 30px;
        font-size: 16px;
        margin-bottom: 24px;

        @include bpoint(tablet) {
            margin-top: 58px;
            font-size: 19px;
            margin-bottom: 30px;
        }

        @include bpoint(desktop) {
            margin-top: 73px;
            font-size: 24px;
            margin-bottom: 37px;
        }
    }

    &_list {
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        text-align: justify;

        @include bpoint(tablet) {
            font-size: 19px;
            line-height: 35px;

        }

        @include bpoint(desktop) {
            font-size: 24px;

        }

        & li {
            margin-bottom: 15px;
        }
    }

    &_sub-title {
        font-size: 24px;
        letter-spacing: 1.08px;
        margin-bottom: 36px;

        @include bpoint(tablet) {
            font-size: 29px;
            margin-bottom: 42px;

        }

        @include bpoint(desktop) {
            font-size: 36px;
            margin-bottom: 50px;

        }
    }
}