.blog {

    &_title {
        color: var(--header-cl);
        font-family: 'Medium';
        margin-top: 36px;
        margin-bottom: 29px;
        // text-align: left;
        max-width: 1070px;

        @include bpoint(tablet) {
            margin-top: 45px;
            margin-bottom: 36px;
        }

        @include bpoint(desktop) {
            margin-top: 62px;
            margin-bottom: 50px;
        }
    }


    &_btn-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 820px) {
            align-items: flex-start;
        }

        @media only screen and (max-width: 550px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &_input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 820px) {
           flex-direction: column;
        }

        & img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 10px;
            @media only screen and (max-width: 820px) {
                transform: translateY(-80%);

             }
             @media only screen and (max-width: 550px) {
                transform: translateY(-50%);
            }
        }

        & input {
            max-width: 220px;
            height: 100%;
            padding: 10px 0 10px 50px;
            font-size: 24px;
            letter-spacing: 0.72px;
            margin-right: 20px;

            @media only screen and (max-width: 820px) {
                margin-bottom: 20px;
             }

             @media only screen and (max-width: 550px) {
                margin: 20px 0;
            }

            @include bpoint(tablet) {
                max-width: 300px;
    
            }
    

            &::placeholder {
                color: rgba(47, 47, 47, 0.50);
                font-size: 18px;
                letter-spacing: 0.72px;
            }
        }

    }

    &_text {
        text-align: justify;
        margin-top: 30px;
        font-size: 16px;
        margin-bottom: 24px;
        line-height: 25px;

        @include bpoint(tablet) {
            margin-top: 58px;
            font-size: 19px;
            margin-bottom: 30px;
        }

        @include bpoint(desktop) {
            margin-top: 73px;
            font-size: 24px;
            line-height: 35px;
            margin-bottom: 37px;
        }
    }

    &_list {
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        text-align: justify;

        @include bpoint(tablet) {
            font-size: 19px;
            line-height: 35px;

        }

        @include bpoint(desktop) {
            font-size: 24px;

        }

        & li {
            margin-bottom: 15px;
        }
    }

    &_sub-title {
        font-size: 24px;
        letter-spacing: 1.08px;
        margin-bottom: 36px;

        @include bpoint(tablet) {
            font-size: 29px;
            margin-bottom: 42px;

        }

        @include bpoint(desktop) {
            font-size: 36px;
            margin-bottom: 50px;

        }
    }
}

.container-input {
    position: relative;

}