.contacts {

    @include bpoint(tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_title {
        max-width: 870px;
        font-size: 48px;
        letter-spacing: 1.8px;
        text-align: center;
        font-family: 'Medium';
        margin-bottom: 50px;

        @include bpoint(tablet) {
            max-width: 870px;
            font-size: 60px;
            letter-spacing: 2px;
            margin-bottom: 40px;
            text-align: left;
        }

        @include bpoint(desktop) {
            margin-bottom: 50px;
            max-width: 870px;
            font-size: 72px;
            letter-spacing: 2.16px;
        }
    }

    &_list li {
        font-size: 24px;
        letter-spacing: 1.08px;

        @include bpoint(tablet) {
            font-size: 29px;
        }

        @include bpoint(desktop) {
            font-size: 36px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;

            @include bpoint(tablet) {
                font-size: 32px;
            }

            @include bpoint(desktop) {
                margin-bottom: 40px;

            }

        }
    }
}

#wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3 {
    width: 400px;
    // height: 400px;

    @include bpoint(tablet) {
        width: 600px;
        height: 600px;
    }

    @include bpoint(desktop) {
        width: 870px;
        height: 870px;

    }
}