.contacts {

    @include bpoint(tablet) {
        display: flex;
    justify-content: center;
    align-items: center;
    }

    
   

    &_title {
        text-align: center;
        font-weight: 500;
        margin-bottom: 50px;

        @include bpoint(tablet) {
            margin-bottom: 40px;
            text-align-last: left;
        }

        @include bpoint(desktop) {
            margin-bottom: 50px;
        }
    }

    &_list li {
        font-size: 24px;
        letter-spacing: 1.08px;

        @include bpoint(tablet) {
            font-size: 29px;
        }

        @include bpoint(desktop) {
            font-size: 36px;
        }

        &:not(:last-child) {
            margin-bottom: 24px;

            @include bpoint(tablet) {
                font-size: 32px;
            }

            @include bpoint(desktop) {
                margin-bottom: 40px;

            }

        }
    }
}