.footer {
    position: relative;
    background-color: var(--header-cl);
    padding: 36px 80px 59px 80px;
    border: 1px solid white;
    color: var(--white-cl);

    &_containert {
        display: flex;
        justify-content: space-between;
        margin-bottom: 123px;
    }

    &_address {
        font-size: 18px;
        // font-family: Gilroy;
        margin-right: 140px;
        line-height: 30px;

        &-link {
            margin-bottom: 20px;
            display: block;
        }
    }

    &_sity {
        font-weight: 700;
        display: block;
    }

    &_list {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;

        & li:not(:last-child) {
            margin-right: 20px;
        }

        & svg {
            fill: red;
        }

        & img {
            color: red;
        }
    }


    &_text {
        text-align: center;

    }

    &_sub-container {
        display: flex;
    }

    &_phone {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: rgb(18, 14, 14);
    }
}