.footer {
    position: relative;
    background-color: var(--header-cl);
    color: var(--white-cl);
    padding: 40px 80px 60px 80px;

    &_container {
        display: block;

        @include bpoint(tablet) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }

        @include bpoint(desktop) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 123px;
        }
    }

    &_address {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 30px;

        @include bpoint(tablet) {
            font-size: 18px;
        }

        @include bpoint(desktop) {
            margin-right: 140px;
        }



        &-link {
            display: block;

            @include bpoint(tablet) {
                margin-bottom: 20px;

            }
        }
    }

    &_sity {
        font-weight: 700;
        display: block;
    }

    &_list {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        @include bpoint(tablet) {
            justify-content: space-between;

        }

        & li:not(:last-child) {
            margin-right: 20px;
        }
    }


    &_text {
        text-align: center;
        letter-spacing: 0;
    }

    &_sub-container {

        @include bpoint(desktop) {
            display: flex;
        }

    }

    &_phone {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: rgb(18, 14, 14);
    }

    &_logo {
        display: none;

        @include bpoint(tablet) {
            display: block;
        }
    }

    &_email {
        display: flex;
        justify-content: center;

        @include bpoint(tablet) {
            display: block;
        }
    }

    & svg:hover {
        fill: currentColor
    }

    & a:hover {
        color: var(--btn-cl);
    }
}