.gratitude {
    &_block {
        text-align: center;

    }

    &_title {
        color: var(--header-cl);
        text-align: center;
        font-family: 'Medium';
        margin-top: 48px;
        margin-bottom: 36px;

        @include bpoint(tablet) {
            margin-top: 60px;
        margin-bottom: 45px;

        }

        @include bpoint(desktop) {
            margin-top: 77px;
        margin-bottom: 50px;
        }
    }

    &_text {
        text-align: center;
        margin-bottom: 36px;
        letter-spacing: 1.08px;

        @include bpoint(tablet) {
            margin-bottom: 29px;
            margin-bottom: 45px;

        }

        @include bpoint(desktop) {
            font-size: 36px;
            margin-bottom: 54px;
        }
    }

    &_img {
        display: inline-block;
    }

    &_container {
        display: flex;
    }

    &_list {
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        line-height: 60px;
        letter-spacing: 1.08px;
        margin-bottom: 40px;

        @include bpoint(tablet) {
            font-size: 29px;
            margin-bottom: 50px;

        }

        @include bpoint(desktop) {
            font-size: 36px;
            margin-bottom: 62px;

        }

        & li {display: flex;
        align-items: center;
        }
    }

    &_telegramm {
        text-align: center;
        margin-bottom: 66px;
    }

}