 header {
     background-color: var(--header-cl);
     padding: 17px 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     max-width: 2300px;
     margin-left: auto;
     margin-right: auto;
     font-size: 26px;

     @include bpoint(tablet) {
         padding: 32px 80px;

     }

    //  & svg {
    //     height: 40px;
    //  }

     & svg:hover {
         fill: var(--btn-cl);
         transition: var(--hover-anim);
         cursor: pointer;
     }

 }

 .container-menu {
     display: flex;
     align-items: center;
     
     cursor: pointer;

 }


