
.hero {
    max-width: 1930px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    background-position: center;
    height: 530px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white-cl);
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;

    @include bpoint(tablet) {
        padding: 40px 65px 130px 65px;
    
    }

    @include bpoint(desktop) {
        padding: 60px 250px;
    }



    &_title {
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 26px;
        font-weight: 200;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        width: 100%;

        @include bpoint(tablet) {
            font-size: 30px;
        }

        @include bpoint(desktop) {
            font-size: 50px;
        }
    }

    &_number-one {
        font-family: 'Medium';
    }

    &_text {
        font-size: 12px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.36px;
        margin-bottom: 20px;

        @include bpoint(tablet) {
            margin-bottom: 37px;
        }
    }

    &_tagline {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 0.96px;
        margin-bottom: 40px;

        @include bpoint(tablet) {
            font-size: 26px;
            margin-bottom: 60px;

        }

        @include bpoint(desktop) {
            font-size: 32px;

        }
    }

    &_btn {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: 1px solid yellow;
        color: var(--white-cl);
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        padding: 12px 24px;
        cursor: pointer;
        margin-top: 30px;


        @include bpoint(tablet) {
            padding: 12px 28px;
            margin-left: 10px;
        }

        @include bpoint(desktop) {
            font-size: 22px;
            margin-left: 27px;
        }
    }

    &_btn-container {
        text-align: center;

        @include bpoint(tablet) {
            text-align: left;
        }
    }

}