.order {

    &_title {
        text-align: center;
        margin-bottom: 20px;
    }

    &_sub-title {
        color: var(--header-cl);
        font-size: 18px;
        letter-spacing: 1.08px;
        margin-bottom: 30px;
        text-align: center;

        @include bpoint(tablet) {
            font-size: 29px;
            margin-bottom: 60px;

        }

        @include bpoint(desktop) {
            font-size: 36px;
            margin-bottom: 88px;
        }
    }


    &_input {
        font-family: 'Regular';
        margin-top: 20px;
        display: block;
        width: 100%;
        margin-bottom: 30px;
        font-size: 18px;
        letter-spacing: 0.72px;
        padding: 16px 0 16px 15px;
        border-color: rgba(0, 0, 0, 0.10);

        @include bpoint(tablet) {
            font-size: 29px;
            margin-bottom: 60px;
            padding: 16px 0 16px 40px;


        }

        @include bpoint(desktop) {
            height: 60px;
            padding: 16px 0 16px 40px;

        }


        &::placeholder {
            font-family: 'Regular';
            padding-left: -40px;
            font-size: 16px;
            letter-spacing: 0.72px;
            color: rgba(47, 47, 47, 0.50);

            @include bpoint(tablet) {
                font-size: 19px;
            }

            @include bpoint(desktop) {
                font-size: 24px;
            }

        }
    }

    &_star {
        color: var(--btn-cl);
    }

    &_container {
        margin-bottom: 36px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10%;

        @include bpoint(tablet) {
            margin-bottom: 43px;

        }

        @include bpoint(desktop) {
            margin-bottom: 54px;
        }

    }

    &_sub-container {
        display: flex;
        flex-direction: column;
    }


    &_button {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    &_confirmation {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        @include bpoint(tablet) {
            margin-bottom: 80px;
        }

        @include bpoint(desktop) {
            margin-bottom: 106px;
        }
    }

    &_politic {
        font-size: 16px;
        cursor: pointer;

        @include bpoint(tablet) {
            font-size: 19px;


        }

        @include bpoint(desktop) {
            font-size: 24px;

        }
    }

    &_link {
        color: var(--btn-cl);
        text-decoration: underline;
    }

    &_lable {
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.72px;

        @include bpoint(tablet) {
            font-size: 19px;

        }

        @include bpoint(desktop) {
            font-size: 24px;

        }
    }

    &_lable-coment {
        width: 100%;

    }

    &_form {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;

        @include bpoint(tablet) {
            max-width: 500px;

        }

        @include bpoint(desktop) {
            max-width: 660px;
        }
    }

}

#click {
    display: none;
}


.marker {
    fill: var(--white-cl);
    outline: 2px solid rgba(0, 0, 0, 0.20);
    margin-right: 20px;
    cursor: pointer;
    max-width: 25px;
    max-height: 25px;
}

.label_check {
    display: flex;
    align-items: center;
    justify-content: center;
}

#click:checked+.marker {
    background-color: var(--btn-cl);
    outline: none;
}