.politic {

    &_title {
        color: var(--header-cl);
        font-weight: 500;
        margin-bottom: 16px;

        @include bpoint(tablet) {
            margin-bottom: 19px;
        }

        @include bpoint(desktop) {
            margin-bottom: 23px;
        }
    }

    &_sub-title {
        margin-bottom: 40px;
        font-size: 24px;
        letter-spacing: 1.08px;

        @include bpoint(tablet) {
            margin-bottom: 48px;
        font-size: 29px;

        }

        @include bpoint(desktop) {
            margin-bottom: 60px;
            font-size: 36px;

        }
    }

    &_text {
        text-align: justify;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 32px;

        @include bpoint(tablet) {
            margin-bottom: 40px;
            font-size: 19px;
        line-height: 35px;

        }

        @include bpoint(desktop) {
            margin-bottom: 50px;
            font-size: 24px;

        }
    }
}