.portfolio {
    background-color: var(--sacondary-cl-txt);

    text-align: center;
    overflow: hidden;

    &_title {
        color: var(--white-cl);
        text-align: center;
        margin-bottom: 10px;
    }

    &_sub-title {
        color: var(--white-cl);
        text-align: center;
        font-size: 16px;
        letter-spacing: 0.72px;
        margin-bottom: 30px;

        @include bpoint(tablet) {
            font-size: 20px;
            margin-bottom: 100px;

        }

        @include bpoint(desktop) {
            font-size: 24px;
        }
    }

    &_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
        align-items: center;

        & li:not(:last-child) {
            margin-right: 10px;
        }

        // @include bpoint(desktop) {
        //     justify-content: space-between;

        // }
    }

    &_btn {
        color: var(--white-cl);
        font-family: 'Medium';
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        padding: 12px 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid var(--white-cl);
        margin-bottom: 10px;
        transition: var(--hover-anim);
        cursor: pointer;

        // &:hover {
        //     color: var(--btn-cl);
        //     border: 1px solid var(--btn-cl);
        // }

        &:active {
            background-color: var(--btn-cl);
            color: var(--white-cl);
        }

        @include bpoint(tablet) {
            font-size: 18px;
        }

    }

    &_list-img {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        @include bpoint(tablet) {
            margin-bottom: 87px;


        }

    }

    &_list-img-title {
        color: var(--white-cl);
        font-size: 23px;
        font-weight: 500;
        letter-spacing: 1.08px;

        @include bpoint(tablet) {
            font-size: 29px;
        }

        @include bpoint(desktop) {
            font-size: 36px;
        }
    }

    &_list-img-text {
        color: var(--white-cl);
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.72px;

        @include bpoint(tablet) {
            font-size: 19px;
        }

        @include bpoint(desktop) {
            font-size: 24px;
        }
    }

}

#imageContainer {
    margin-left: auto;
    margin-right: auto;
}