.reviews {
    position: relative;
    background-color: var(--section-cl);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_title {
        color: var(--sacondary-cl-text);
        text-align: center;
        margin-bottom: 100px;
    }

    &_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        @include bpoint(tablet) {
            margin-bottom: 70px;
        }

        @include bpoint(desktop) {
            margin-bottom: 90px;
        }
    }

    &_list li {
        text-align: left;
        max-width: 420px;
        margin-bottom: 30px;
    }

    &_lang {
        color: var(--btn-cl);
        font-weight: 500;
        margin-bottom: 10px;
    }

    &_name {
        color: var(--sacondary-cl-text);
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 1.08px;
        margin-bottom: 10px;

        @include bpoint(tablet) {
            font-size: 36px;

        }
    }

    & video {
        width: 100%;
    }
}