.services {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
        text-align: center;
        margin-bottom: 30px;
        @include bpoint(tablet) {
            margin-bottom: 65px;


        }
    }

    &_list {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1.08px;
        width: 100%;

        @include bpoint(tablet) {
            font-size: 30px;
            margin-bottom: 80px;

        }

        @include bpoint(desktop) {
            font-size: 36px;
            margin-bottom: 100px;

        }

        & li:not(:last-child) {
            border-bottom: 2px solid var(--border-cl);
            padding-bottom: 20px;
            margin-bottom: 20px;

            @include bpoint(tablet) {
                padding-bottom: 40px;
            }

            @include bpoint(desktop) {
                padding-bottom: 50px;

            }
        }
    }

    &_img {
        display: none;

        @include bpoint(tablet) {
            width: 670px;
            display: block;
        }
    }
}