.work {
    color: var(--sacondary-cl-txt);
    font-size: 72px;
    // font-family: Gilroy;
    letter-spacing: 1.16px;
    padding: 50px 80px 200px 80px;
    position: relative;
 
}
.work h2 {
    font-weight: 300;

}


.work h2::after {
    position: absolute;
    content: '';
    height: 2px;
    top: 150px;
    width: 30%;
    right: 150px;
    background-color: rgba(0, 0, 0, 0.20);
}